html {
  min-height: 100vh;
  position: relative;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

u {
  text-underline-position: under;
  text-decoration-color: #eb6558;
}

.mailchimp {
  margin: auto;
}

#mce-EMAIL {
  width: 100%;
  padding: 5px;
}

#mc-embedded-subscribe {
  background-color: transparent;
  border: 1px solid rgb(61, 58, 58);
  color: white;
  padding: 8px;
  margin-top: 3px;
  cursor: pointer;
  font-size: 14px;
}
#mc-embedded-subscribe:hover {
  background-color: rgb(36, 36, 36);
}

.tsparticles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.blog-table-of-contents {
  display: inline-block;
  background-color: rgb(43, 48, 62);
  padding: 15px 30px;
}

.blog-table-of-contents span {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.blog-table-of-contents a {
  text-decoration: none;
  font-weight: 400 !important;
}

.blog-table-of-contents a:hover {
  text-decoration: underline;
}