.container {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  color: white;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.05'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
}

.headerContainer {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding-right: 5vw;
}

.headerContainer>img {
  height: 55vh;
}

.headerTextContainer {
  width: 50%;
}

.container h2 {
  line-height: 1.5;
}

.container h2+h2 {
  margin-top: 50px;
}

.container h3 {
  margin-top: 60px;
  font-weight: normal;
  opacity: 0.85;
}

.container a {
  color: white;
  text-decoration-color: #eb6558;
}

.color {
  color: #eb6558;
}

.projectsHeader {
  margin-bottom: 50px;
  font-family: Oswald;
}

.projectsHeader h1 {
  text-decoration: underline;
  text-decoration-color: #eb6558;
  font-size: 3rem;
}

.musicContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.musicContainer p {
  max-width: 70vw;
  opacity: 0.95;
  line-height: 2;
  font-size: 1.1rem;
}

.container b {
  color: #eb6558;
  font-weight: normal;
}

.christianContainer {
  margin-top: -100px;
  position: relative;
  z-index: 5;
  overflow: hidden;
  background-image: url("/assets/img/sea.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.christianContainer p {
  color: white;
  max-width: 70vw;
  opacity: 0.95;
  line-height: 2;
  font-size: 1.1rem;
  text-align: center;
}

.christianContainer p:last-child {
  margin-top: 60px;
}

.christianContainer b {
  color: #eb6558;
}

@media (max-width: 900px) {
  .container {
    padding-right: 5vw;
  }
  .headerContainer {
    flex-direction: column;
    justify-content: center;
    width: initial;
    font-size: 0.8rem;
    padding-right: 0;
  }
  .container h2 {
    font-size: 2.5vh;
  }
  .container h2+h2 {
    margin-top: 30px;
  }
  .container h3 {
    font-size: 1.5vh;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  .headerContainer>img {
    margin-top: 50px;
    width: clamp(250px, 50vw, 80vw);
    height: initial;
  }
  .headerTextContainer {
    width: initial;
  }
}

@media (min-width: 901px) {
  .musicContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
  }
  .musicContainer svg {
    margin-left: -80px;
    margin-right: -50px;
    max-width: min(650px, 60%);
  }
  .musicContainer p {
    max-width: 450px;
  }
}

@media (min-width: 1200px) {
  .christianContainer {
    align-items: flex-start;
  }
  .christianContainer p {
    max-width: 500px;
    margin-left: 55vw;
    margin-right: 40px;
  }
}