.container {
  display: flex;
  background-color: #131313;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;
  overflow: hidden;
}

.header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.mainSvg {
  width: 600px;
  flex: 1;
}

.processes {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.blockContainer {
  margin-bottom: 20px;
}

.blockTopContainer {
  display: flex;
  align-items: center;
}

.blockTopContainer svg {
  color: white;
  width: 40px;
  padding-left: 15px;
}

.blockTopContainer h1 {
  color: white;
  font-size: 2.2em;
  font-weight: bolder;
  margin: 0px;
}

.blockContainer p {
  color: white;
  opacity: 0.6;
  max-width: 500px;
}

.bobbingSvg {
  color: white;
  opacity: 0.06;
  position: absolute;
}

.bulbSvg {
  transform: rotateZ(-40deg) scale(3.5);
  top: 130px;
  left: 180px;
}

.presentationSvg {
  transform: rotateZ(-5deg) scale(3.5);
  top: 600px;
  left: 550px;
}

.codeSvg {
  transform: rotateZ(40deg) scale(5);
  top: 100px;
  right: 180px;
}

.bobAnim {
  animation: bobbing 1.5s alternate-reverse infinite ease-in-out;
}

@keyframes bobbing {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(0px, 8px, 0px);
  }
}

@media (max-width: 1150px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }
  .mainSvg {
    height: 40vw;
    width: 100%;
  }
  .processes {
    margin-top: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .blockContainer p {
    max-width: none;
  }
  .bulbSvg {
    top: 10vw;
    left: 10vw;
    width: 4vw;
  }
  .presentationSvg {
    top: 850px;
    left: 50vw;
    width: 30px;
  }
  .codeSvg {
    top: 55vw;
    right: 10vw;
    width: 4vw;
  }
}