.container {
  display: flex;
  background-color: #131313;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;
}

.header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.processes {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.blockContainer h1 {
  display: inline;
  color: white;
  font-size: 2.2em;
  font-weight: bolder;
}

.blockContainer p {
  /* display: inline; */
  color: white;
  opacity: 0.6;
  max-width: 60%;
}

.bobAnim {
  animation: bobbing 1.5s alternate-reverse infinite ease-in-out;
}

@keyframes bobbing {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(0px, 8px, 0px);
  }
}